<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    

    <title>ChatRoom page</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.css" />
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.js"></script> 
    <!-- Custom styles for this template -->
    <link href="css/cover.css" rel="stylesheet">
  </head>

  <body class="text-center">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">think smart</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="#">Home</a>
            <a class="nav-link" href="#">Features</a>
            <a class="nav-link" href="#">Contact</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">Welcome to the chatRoom <br> server page</h1>
        <div class="chat">

            <div class="chat__sidebar">
              <h3>People</h3>
              <div id="users"></div>
            </div>
          
            <div class="chat__main">
              <ol id="messages" class="chat__messages"></ol>
          
              <div class="chat__footer">
                <form id="message-form">
                  <input name="message" type="text" placeholder="Message" autofocus autocomplete="off"/>
                  <button>Send</button>
                </form>
                <button id="send-location">Send location</button>
              </div>
            </div>
          
            <script id="message-template" type="text/template">
              <li class="message">
                <div class="message__title">
                  <h4>{{from}}</h4>
                  <span>{{createdAt}}</span>
                </div>
                <div class="message__body">
                  <p>{{text}}</p>
                </div>
              </li>
            </script>
          
            <script id="location-message-template" type="text/template">
              <li class="message">
                <div class="message__title">
                  <h4>{{from}}</h4>
                  <span>{{createdAt}}</span>
                </div>
                <div class="message__body">
                  <p>
                    <a href="{{url}}" target="_blank">My current location</a>
                  </p>
                </div>
              </li>
            </script>
          
            <script src="/socket.io/socket.io.js"></script>
            <script src="/js/libs/jquery-3.1.0.min.js"></script>
            <script src="/js/libs/moment.js"></script>
            <script src="/js/libs/mustache.js"></script>
            <script src="/js/libs/deparam.js"></script>
            <script src="/js/chat.js"></script>
        </div>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p></a>, by <a href="">by denis d</a>.</p>
        </div>
      </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <!-- <script src="../../../../assets/js/vendor/popper.min.js"></script> -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/index.js"></script> 



     </body>
</html>
